Xft.antialias: true
Xft.hinting: true
Xft.hintstyle: hintmedium
Xft.lcdfilter: true
Xft.rgba: rgb

urxvt.font: xft:monofur:pixelsize=12
URxvt.depth                     : 32
URxvt.scrollBar                 : false
urxvt.buffered: false
urxvt.transparent: false

#define C_red           #b84f96

#define C_Bl		#000000
#define C_03            #002b36
#define C_02            #d1ebdb
#define C_01      	#586e75
#define C_00            #657b83
#define C_0             #47ff66
#define C_1             #93a1a1
#define C_2             #eee8d5
#define C_3             #fdf6e3

*background:		C_Bl
URxvt.background:       rgba:0000/0000/0000/cccc
*foreground:		C_0

*color0:                C_02
